<app-error-block></app-error-block> <app-convert></app-convert>

<nav
  class="absolute top-0 right-0 left-0 h-[50px] flex justify-between items-center text-white bg-gray-500 px-5"
>
  <h1 class="font-bold">{{ title }}</h1>
  <div>
    <span>{{ convertationService.items.conversion_rates["USD"] }} USD </span>
    <span>{{ convertationService.items.conversion_rates["UAH"] }} UAH </span>
    <hr />
    <span
      >{{ convertationService.itemsforEur.conversion_rates["EUR"] }} EUR
    </span>
    <span
      >{{ convertationService.itemsforEur.conversion_rates["UAH"] }} UAH
    </span>
  </div>
</nav>

<h1 class="font-bold mb-2 text-center text-lg mt-10">
  {{ title | uppercase }}
</h1>

<p *ngIf="loading" class="text-center text-lg">... Loading</p>
<div
  class="flex items-center justify-center my-10"
  *ngIf="convertationService.items && !loading"
>
  <app-convert></app-convert>
</div>
